.navbar-brand>img {
  padding-top: 11px;
  padding-bottom: 11px;
  width: 260px;
  margin-left: 60px;
}
.navbar-brand {
    height: auto;
    margin: 0;
    padding: 0;
    margin-right: 0px;
}

#nav2 ..fa-5x {
    font-size: 4.3em;
}

#nav2 .navbar-brand {
  padding: 0px;
}
#nav2 .navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}
#nav2 .logo img {
    padding: 10px 25px;
    width: 100%;
    cursor: pointer;
    max-width: 196px;
}

.navbar-default{
color: #000;
background-color: #fff;
}

#navtengah .navbar-default .navbar-nav > li > a:hover,#navtengah .navbar-default .navbar-nav > li > a:focus,#navtengah .navbar-default .navbar-nav > .open > a,#navtengah .navbar-default .navbar-nav > .open > a:hover,#navtengah .navbar-default .navbar-nav > .open > a:focus {
    color: #ff0000;
    background-size: #ff0000;
}

.navbar-default .navbar-nav > li > a{
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 20px;
  color:#000;
}

#navtengah .navbar-nav {
  float: right;
    margin: 0;
}

.navbar-default .navbar-nav > .dropdown > a .caret{
}
.navbar-default .navbar-brand{
  color:#000;
}
.menu-large {
  position: static !important;
}
.megamenu{
  padding: 20px 0px;
  width:100%;
}
.megamenu> li > ul {
  padding: 0;
  margin: 0;
}
.megamenu> li > ul > li {
  list-style: none;
}
.megamenu> li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.megamenu> li ul > li > a:hover,
.megamenu> li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.megamenu.disabled > a,
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  color: #999999;
}
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.megamenu.dropdown-header {
  color: #428bca;
  font-size: 18px;
}
@media (max-width: 768px) {
  #navtengah .navbar-nav {
    margin: 0;
  }
  .megamenu{
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .megamenu> li {
    margin-bottom: 30px;
  }
  .megamenu> li:last-child {
    margin-bottom: 0;
  }
  .megamenu.dropdown-header {
    padding: 3px 15px !important;
  }
  .navbar-nav .open .dropdown-menu .dropdown-header{
  color:#000;
  }
}