/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

.textheader {
  margin-bottom: 15px;
  margin-top: 0;
  text-align: center;
  }
.textheader>span{
  padding-top: 20px;
  padding-bottom: 20px;
  color: #FF0000;
  }

.text-footer{
  color: #000;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: sans-serif;
}
.text-footer>span{
  color: #ff0000;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: sans-serif;
}

.hargaheader{
  color: #FF0000;
  font-family: sans-serif;
}

.judulberita {
  margin-top: 10px;
}

#beritasorotan .container .row{
  bottom: 10px;

}

#beritasorotan span{
  color: #FF0000;
  top: -158px;
  padding: 6px 8px 4px 6px;
  background-color: #FFF;
  border-radius: 0px;
  font-family: inherit;
  font-size: 17px;
  position: relative;

}

#beritasorotan h2{
  color: rgb(0, 0, 0);
  top: -110px;
  padding: 6px 8px 6px 8px;
  background-color: #FFF;
  border-radius: 0px;
  font-family: inherit;
  font-size: 17px;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;

}

#beritasorotan p{
  color: rgb(0, 0, 0);
  margin-top: -95px;
  padding: 0 5px 0px 5px;
  background-color: #FFF;
  border-radius: 0px;
  font-family: inherit;
  font-size: 17px;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;

}

#beritasorotan img{
  width: 100%;
  height: 181px;
}

#beritalainnya span{
    color: #fff;
    padding: 4px 10px 4px 10px;
    background-color: #FF0000;
    border-radius: 5px;
    font-family: inherit;
    font-size: 12px;
}

#beritalainnya a{
    color: #000;
}


#headerberita span{
    color: #fff;
    padding: 4px 10px 4px 10px;
    background-color: #FF0000;
    border-radius: 1px;
    font-family: inherit;
    font-size: 12px;
}
#headerberita .date{
    font-size: 15px;
    padding: 4px 10px 4px 10px;
}
#berita .media-body {
    padding: 10px;
}
#berita .well {
  padding: 0px;
}

#jumbotron .carousel {
    margin-bottom: 0;
}

#jumbotron .carousel {
    margin-bottom: 0;
}
#beritalainnya .thumbnail {
    display: block;
    line-height: 1.42857143;
    background-color: #fff;
    border: #000;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
#beritalainnya .thumbnail {
    margin: 15px;
    position: relative;
    padding: 0px;
}

#beritalainnya .caption .date{
    font-size: 12px;
    padding: 4px 10px 4px 10px;
}

#beritalainnya .thumbnail img {
    width: 100%;
  }
#hargadetail .thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff0;
    border: 1px solid #fff0;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

#hargadetail .btn-primary {
    color: #fff;
    background-color: #bdbdbd;
    border-color: #bdbdbd;
  }

#hargadetail .carousel {
    margin-bottom: 0;
}
/* Reposition the controls slightly */
#hargadetail .carousel-control {
  left: -12px;
}
#hargadetail .carousel-control.right {
  right: -12px;
}
/* Changes the position of the indicators */
#hargadetail .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
#hargadetail .carousel-indicators li {
  background: #c0c0c0;
}
#hargadetail .carousel-indicators .active {
background: #333333;
}
.row{
  margin: 0;
}
#dokumentasi .margin30 {
    margin-bottom: 30px;
}

#dokumentasi .item-img-wrap {
    position: relative;
    text-align: center;
    overflow: hidden;
}

#dokumentasi .item-img-wrap img {
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    width: 100%;
}

/************************image hover effect*******************/
#dokumentasi .item-img-wrap {
  position: relative;
  text-align: center;
  overflow: hidden;
}

#dokumentasi .item-img-wrap img {
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  width: 100%;
}

#dokumentasi .item-img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#dokumentasi .item-img-overlay span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(http://bootstraplovers.com/templates/assan-2.2/main-template/img/plus.png) no-repeat center center rgba(0, 0, 0, 0.7);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -moz-transition: opacity 250ms linear;
  -o-transition: opacity 250ms linear;
  -webkit-transition: opacity 250ms linear;
  transition: opacity 250ms linear;
}

#dokumentasi .item-img-wrap:hover .item-img-overlay span {
  opacity: 1;
}

#dokumentasi .item-img-wrap:hover img {
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/*************pagination***********/

#dokumentasi .pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 40%;
    border-radius: 4px;
  }

#dokumentasi .pagination > li > a, .pagination > li > span {
/*  background-color: #ccc;*/
  padding: 3px 9px;
  color: #000;
  border: 0px;
}

#dokumentasi .pagination > li > a {
  margin-right: 5px;
}

#dokumentasi .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #ff0000;
}

#saran .form-control {
    font-family: sans-serif;
}
#saran label {
    color: #333;
}
#saran .btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}


#saran .help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;
}

  #beritalainnya .fix{
  margin-left: 27px;width: 95%;}

.bg-img{position:relative}
.caption-topleft{position:absolute;left:0;top:0}
.caption-topright{position:absolute;right:0;top:0}
.caption-bottomleft{position:absolute;left:0;bottom:0;padding: 0 20px 0 10px;}
.caption-bottomright{position:absolute;right:0;bottom:0}
.caption-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.caption-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.caption-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.caption-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.caption-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%);width: 100%; opacity: 0.5;height: 27%;}

/*style the demo*/
img{width:100%;height:auto;}
/*bg color*/
.rose{color:#fff!important;background-color:#000!important}
/*text*/
.text-white,.text-white-hover:hover{color:#fff!important;}
.text-black,.text-black-hover:hover{color:#000!important}
.text-grey,.text-grey-hover:hover{color:#757575!important}
.text-red,.text-red-hover:hover{color:#f44336!important}

.large{font-size:20px!important}
.text-right{text-align:right!important}
.padding{padding:12px 16px!important}
/*border*/
.leftbar{border-left:6px solid #ccc!important; padding-left: 5px}
.border-red{border-color:#f44336!important}

  #headline {
    margin-bottom: 25px;;
  }

#headline span{
    color: #fff;
    padding: 4px 10px 4px 10px;
    background-color: #FF0000;
    border-radius: 5px;
    font-family: inherit;
    font-size: 16px;
}
    #headline h1{
    margin: 5px 0 5px 0;
  }
  #headline .artikel{
    font-size: 18px;
  }
  #headline .date{
    font-size: 16px;
    padding: 4px 10px 4px 10px;
  }

.MultiCarousel { float: left; overflow: hidden;width: 100%; position:relative; }
.MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
.MultiCarousel .MultiCarousel-inner .item { float: left;}
.MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#666;}
.MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
.MultiCarousel .leftLst { left:0; }
.MultiCarousel .rightLst { right:0; }
    
.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }
.ribben1{
  position: relative;
  padding-left: 79%;
  margin-bottom: -17%;
}

html, body{
  background-color: #E5E5E5;
    font-size: 100%;
  font-family: sans-serif;
}
ul li,ol li{
  font-size:14px;
}
p{
  margin:0;
  font-size:0.9em;
}
h1,h2,h3,h4,h5,h6,a{
  font-family: sans-serif;
}
ul,label{
  margin:0;
  padding:0;
}
body a:hover{
  text-decoration:none;
}
input[type="submit"],.agileinfo_chat a,.w3ls_footer_grid1_left p a,.w3l_sign_in_register ul li a,.w3ls_footer_grid1_right ul li a,.w3_customer_email_right a,ul.dropdown-menu.multi-column ul li a{
  transition:.5s ease-in;
  -webkit-transition:.5s ease-in;
  -moz-transition:.5s ease-in;
  -o-transition:.5s ease-in;
  -ms-transition:.5s ease-in;
}

/*-- header --*/
.header {
    padding: 1em 0;
  border-top: 3px solid #000000;
}

.main_menu{
  background: #fff;
}

/*--jumbotron--*/

.jumbotron {
  height: 500px;
  padding: 2rem 1rem;
  margin-bottom: 2rem; 
  background: linear-gradient(to right, #000, #242134,#C0C0C0);
  color:#fff;
  font-family: sans-serif;
}

#intro {
  padding-top: 70px;
  width: 100%;
  height: 280px;
  position: relative;
  background-image: linear-gradient(125deg,#FF0000,#ffc107);
  background-size: 400% 400%;
  animation: bganimation 15s infinite;
/*  background: #f5f8fd url("../img/bghead.jpg") center top no-repeat;*/
  background-size: cover;
}

#intro .intro-info h2 {
  color: #FFF;
  margin-bottom: 40px;
  font-size: 48px;
  font-weight: 700;
}

#intro .intro-info h2 span {
  color: #ffc107;
}

#intro .intro-info .btn-get-started,
#intro .intro-info .btn-services {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #1bb1dc;
  color: #fff;
}

#intro .intro-info .btn-get-started:hover,
#intro .intro-info .btn-services:hover {
  background: #0a98c0;
}

/* End Overlay css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
.header_area {
  position: relative;
  width: 100%;
  z-index: 99;
  transition: background 0.4s, all 0.3s linear; }
  .header_area .navbar {
    background: transparent;
    padding: 0px;
    border: 0px;
    border-radius: 0px; }
    .header_area .navbar .nav .nav-item {
      margin-right: 45px; }
      .header_area .navbar .nav .nav-item .nav-link {
        font: 600 12px/80px "Montserrat", sans-serif;
        text-transform: uppercase;
        color: #222222;
        padding: 0px;
        display: inline-block; }
        .header_area .navbar .nav .nav-item .nav-link:after {
          display: none; }
      .header_area .navbar .nav .nav-item:hover .nav-link, .header_area .navbar .nav .nav-item.active .nav-link {
        color: #00aee0; }
      .header_area .navbar .nav .nav-item.submenu {
        position: relative; }
        .header_area .navbar .nav .nav-item.submenu ul {
          border: none;
          padding: 0px;
          border-radius: 0px;
          box-shadow: none;
          margin: 0px;
          background: #fff; }
          @media (min-width: 992px) {
            .header_area .navbar .nav .nav-item.submenu ul {
              position: absolute;
              top: 120%;
              left: 0px;
              min-width: 200px;
              text-align: left;
              opacity: 0;
              transition: all 300ms ease-in;
              visibility: hidden;
              display: block;
              border: none;
              padding: 0px;
              border-radius: 0px; } }
          .header_area .navbar .nav .nav-item.submenu ul:before {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 10px 0 10px;
            border-color: #eeeeee transparent transparent transparent;
            position: absolute;
            right: 24px;
            top: 45px;
            z-index: 3;
            opacity: 0;
            transition: all 400ms linear; }
          .header_area .navbar .nav .nav-item.submenu ul .nav-item {
            display: block;
            float: none;
            margin-right: 0px;
            border-bottom: 1px solid #ededed;
            margin-left: 0px;
            transition: all 0.4s linear; }
            .header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
              line-height: 45px;
              color: #222222;
              padding: 0px 30px;
              transition: all 150ms linear;
              display: block;
              margin-right: 0px; }
            .header_area .navbar .nav .nav-item.submenu ul .nav-item:last-child {
              border-bottom: none; }
            .header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link {
              background: #00aee0;
              color: #fff; }
        @media (min-width: 992px) {
          .header_area .navbar .nav .nav-item.submenu:hover ul {
            visibility: visible;
            opacity: 1;
            top: 100%; } }
        .header_area .navbar .nav .nav-item.submenu:hover ul .nav-item {
          margin-top: 0px; }
      .header_area .navbar .nav .nav-item:last-child {
        margin-right: 0px; }
    .header_area .navbar .search {
      font-size: 12px;
      line-height: 60px;
      display: inline-block;
      color: #222222; }
      .header_area .navbar .search i {
        font-weight: 600; }
  .header_area.navbar_fixed .main_menu {
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    background: #ffffff;
    -webkit-transform: translateY(70px);
    -moz-transform: translateY(70px);
    -ms-transform: translateY(70px);
    -o-transform: translateY(70px);
    transform: translateY(70px);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1); }
    .header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
      line-height: 70px; }

.header-top{
    background: #000;
 }

 /*Social Icon*/

.header-top .social-icon li{
    display: inline-block;
 }

.header-top .social-icon li a{
    line-height: 50px;
    width: 30px;
    color: #fff;
}

.header-top .social-icon li a:hover{
    opacity: .5; 
}

/* Phone, Emial, Get a Quote */
.header-top .top-contact li{
    display    : inline-block;
    line-height: 50px;
    text-align :center;
}

.header-top .top-contact li.phone,
.header-top .top-contact li.email{
    padding  : 0 20px;
    color    : #fff;
}

.header-top .top-contact li.phone i,
.header-top .top-contact li.email i{
    margin-right: 5px;
    opacity: .5;
}


.header-top .top-contact li.get-a-quote a{
    padding: 0 30px;
    display: block;
    background: #3ea8f4;
    color: #fff;
}

.header-top .top-contact li.get-a-quote a:hover{
    opacity: .8;
}
.top-text { text-align: right; }
.top-text .text-block { padding-left: 20px; color: #fff; line-height: 18px; }
.w3layouts_logo{
  float:left;
}
.w3layouts_logo a{
  display:block;
  text-decoration:none;
}
.w3layouts_logo a h1{
  font-size: 2.8em;
    color: #212121;
    text-transform: uppercase;
    background: url(../images/1.jpg) no-repeat 80px 6px;
    padding-right: 1.67em;
    font-weight: 900;
  padding-bottom: .3em;
}
.w3layouts_logo a h1 span{
  color: #000000;
    font-size: .3em;
    display: block;
    font-weight: 300;
    letter-spacing: 5px;
    text-align: right;
    line-height: 0;
}
.w3_search{
  float: left;
    width: 40%;
    margin-left: 9em;
  margin-top: .7em;
}
.w3_search input[type="text"]{
  outline: none;
    border: none;
    background:#EFEFEF;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #999;
    width: 78%;
    float: left;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.w3_search input[type="submit"]{
  outline: none;
    border: none;
    background: #212121;
    padding: 10px 0;
    font-size: 14px;
    color: #fff;
    width: 22%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.w3_search input[type="submit"]:hover{
  background:#000000;
}
.w3l_sign_in_register{
  float: right;
    margin-top:1em;
    width: 25%;
}
.w3l_sign_in_register ul li a{
  color: #fff;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    background: #000000;
    text-align: center;
    padding: 6px 30px;
    font-weight: bold;
}
.w3l_sign_in_register ul li a:focus{
  outline:none;
}
.w3l_sign_in_register ul li a:hover{
  background:#212121;
}
.w3l_sign_in_register ul li{
  display:inline-block;
  color:#212121;
  font-size:1em;
}
.w3l_sign_in_register ul li i,.w3l_sign_in_register ul li:first-child{
  padding-right:1em;
}
/*-- //header --*/

/*--------------------------------
5 Header / Navigations 
----------------------------------*/

/*--------------------
    5.1 Header Regular 
   ----------------------*/

.logo { }
.header { background-color: #fff; z-index: 9999; position: relative; padding-top: 20px; padding-bottom: 20px; }
.header-wrapper { z-index: 9; position: relative; background-color: #f15427; border-top: 3px solid #da4f27; }
.top-text { text-align: right; }
.top-text .text-block { padding-left: 20px; color: #fff; line-height: 18px; }
.call-block { }
.call-no { }
.mail-block { }
.mail-text { }
.time-block { }
.time-text { }
.call-block, .mail-block, .time-block { }

/*--------------------------
    5.2 Navigations Regular
   ----------------------------*/
.hero-section { padding-top: 135px; padding-bottom: 135px; background: linear-gradient(rgba(36, 39, 38, 0.5), rgba(36, 39, 38, 0.5)), rgba(36, 39, 38, 0.5) url(../images/hero-img.jpg) no-repeat center; background-size: cover; }
.hero-caption { padding-top: 100px; padding-bottom: 100px; }
.hero-title { font-size: 46px; color: #fff; line-height: 50px; font-weight: 600; margin-bottom: 30px; letter-spacing: -1px; }
.hero-text { font-size: 18px; color: #fff; margin-bottom: 30px; }
.navigation { float: right; }
.is-sticky .header {  -webkit-box-shadow: 0px 2px 6px 0px rgba(230,230,230,1);
-moz-box-shadow: 0px 2px 6px 0px rgba(230,230,230,1);
box-shadow: 0px 2px 6px 0px rgba(230,230,230,1);}
#navigation, #navigation ul, #navigation ul li, #navigation ul li a, #navigation #menu-button { margin: 0; padding: 0; border: 0; list-style: none; line-height: 1; display: block; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
#navigation:after, #navigation > ul:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
#navigation #menu-button { display: none; }
#navigation { margin-top: 10px; }
#navigation > ul > li { float: left; }
#navigation.align-center > ul { font-size: 0; text-align: center; }
#navigation.align-center > ul > li { display: inline-block; float: none; }
#navigation.align-center ul ul { text-align: left; }
#navigation.align-right > ul > li { float: right; }
#navigation > ul > li > a { padding: 15px 25px; font-size: 14px; color: #474747; text-decoration: none; font-weight: 500;}
#navigation > ul > li:hover > a { color: #ffffff; background-color: #ff0000; }
#navigation > ul > li.has-sub > a { padding-right: 32px; }

/*#navigation > ul > li.has-sub > a:after {
 position: absolute;
 top: 22px;
 right: 11px;
 width: 8px;
 height: 2px;
 display: block;
 background: #dddddd;
 content: '';
}*/
#navigation > ul > li.has-sub > a:before { position: absolute; right: 14px; font-family: FontAwesome; content: "\f107"; -webkit-transition: all .25s ease; -moz-transition: all .25s ease; -ms-transition: all .25s ease; -o-transition: all .25s ease; transition: all .25s ease; }

/*#navigation > ul > li.has-sub:hover > a:before {
 top: 23px;
 height: 0;
}*/
#navigation ul ul { position: absolute; left: -9999px; }
#navigation.align-right ul ul { text-align: right; }
#navigation ul ul li { height: 0; -webkit-transition: all .25s ease; -moz-transition: all .25s ease; -ms-transition: all .25s ease; -o-transition: all .25s ease; transition: all .25s ease; }
#navigation li:hover > ul { left: auto; }
#navigation.align-right li:hover > ul { left: auto; right: 0; }
#navigation li:hover > ul > li { height: 47px; }
#navigation ul ul ul { margin-left: 100%; top: 0; }
#navigation.align-right ul ul ul { margin-left: 0; margin-right: 100%; }
#navigation ul ul li a { padding: 16px; width: 170px; font-size: 14px; text-decoration: none; color: #fff; font-weight: 500; background: #ff0000; text-transform: uppercase; border-bottom: 1px solid #ffffff; }
#navigation ul ul li:last-child > a, #navigation ul ul li.last-item > a { border-bottom: 0; }
#navigation ul ul li:hover > a, #navigation ul ul li a:hover { color: #ffffff; background-color: #ff0000; }
#navigation ul ul li.has-sub > a:after { position: absolute; top: 16px; right: 11px; width: 8px; height: 2px; display: block; background: #dddddd; content: ''; }
#navigation.align-right ul ul li.has-sub > a:after { right: auto; left: 11px; }
#navigation ul ul li.has-sub > a:before { position: absolute; top: 13px; right: 14px; display: block; width: 2px; height: 8px; background: #dddddd; content: ''; -webkit-transition: all .25s ease; -moz-transition: all .25s ease; -ms-transition: all .25s ease; -o-transition: all .25s ease; transition: all .25s ease; }
#navigation.align-right ul ul li.has-sub > a:before { right: auto; left: 14px; }
#navigation ul ul > li.has-sub:hover > a:before { top: 17px; height: 0; }
#navigation.small-screen { width: 100%; }
#navigation.small-screen ul { width: 100%; display: none; }
#navigation.small-screen.align-center > ul { text-align: left; }
#navigation.small-screen ul li { width: 100%; border-top: 1px solid #474747; }
#navigation.small-screen ul ul li, #navigation.small-screen li:hover > ul > li { height: auto; }
#navigation.small-screen ul li a, #navigation.small-screen ul ul li a { width: 100%; border-bottom: 0; padding: 20px 15px; }
#navigation.small-screen > ul > li { float: none; }
#navigation.small-screen ul ul li a { padding-left: 25px; }
#navigation.small-screen ul ul ul li a { padding-left: 35px; }
#navigation.small-screen ul ul li a { color: #474747; background: none; }
#navigation.small-screen ul ul li:hover > a, #navigation.small-screen ul ul li.active > a { color: #474747; }
#navigation.small-screen ul ul, #navigation.small-screen ul ul ul, #navigation.small-screen.align-right ul ul { position: relative; left: 0; width: 100%; margin: 0; text-align: left; }
#navigation.small-screen > ul > li.has-sub > a:after, #navigation.small-screen > ul > li.has-sub > a:before, #navigation.small-screen ul ul > li.has-sub > a:after, #navigation.small-screen ul ul > li.has-sub > a:before { display: none; }
#navigation.small-screen #menu-button { display: block; padding: 15px; color: #474747; cursor: pointer; font-size: 12px; border-top: 1px solid #474747; text-transform: uppercase; font-weight: 700; }
#navigation.small-screen #menu-button:after { position: absolute; top: 16px; right: 17px; display: block; height: 12px; width: 20px; border-top: 2px solid #474747; border-bottom: 2px solid #474747; content: ''; }
#navigation.small-screen #menu-button:before { position: absolute; top: 21px; right: 17px; display: block; height: 2px; width: 20px; background: #474747; content: ''; }
#navigation.small-screen #menu-button.menu-opened:after { top: 23px; border: 0; height: 2px; width: 15px; background: #474747; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
#navigation.small-screen #menu-button.menu-opened:before { top: 23px; background: #474747; width: 15px; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }
#navigation.small-screen .submenu-button { position: absolute; z-index: 99; right: 0; top: 0; display: block; border-left: 1px solid #474747; height: 53px; width: 53px; cursor: pointer; }
#navigation.small-screen .submenu-button.submenu-opened { }
#navigation.small-screen ul ul .submenu-button { height: 34px; width: 34px; }
#navigation.small-screen .submenu-button:after { position: absolute; top: 22px; right: 20px; width: 8px; height: 2px; display: block; background: #dddddd; content: ''; }
#navigation.small-screen ul ul .submenu-button:after { top: 15px; right: 13px; }
#navigation.small-screen .submenu-button.submenu-opened:after { background: #474747; }
#navigation.small-screen .submenu-button:before { position: absolute; top: 19px; right: 23px; display: block; width: 2px; height: 8px; background: #dddddd; content: ''; }
#navigation.small-screen ul ul .submenu-button:before { top: 12px; right: 16px; }
#navigation.small-screen .submenu-button.submenu-opened:before { display: none; }
#navigation.small-screen.select-list { padding: 5px; }

/*button*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.buttons {
    text-align: left;
    padding-top: 50px;
}

.buttons2 {
    text-align: left;
    padding-top: 50px;
}

.buttons3 {
    margin-top: 20px;
    text-align: center;
    border-radius: 3rem;
}

.buttons4 {
    margin-top: 20px;
    text-align: center;
    border-radius: 3rem;
}


.btn-hover {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover2 {
    width: 200px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    height: 35px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    margin-bottom: 20px;

    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover3.color-3>span{
  color: #000;
}

.btn-hover4.color-4>span{
  color: #000;
}

.btn-hover3 {
    width: 450px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border-radius: 3rem;
    cursor: pointer;
    height: 60px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    margin-bottom: 25px;

    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover4 {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    height: 60px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    margin-bottom: 20px;

    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover2:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover3:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover4:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover2:focus {
    outline: none;
}
.btn-hover3:focus {
    outline: none;
}
.btn-hover4:focus {
    outline: none;
}


.btn-hover.color-1 {
    background-image: linear-gradient(to top, #9e1517, #941013, #bd4a42, #9e1517);
    box-shadow: 0 4px 15px 0 rgb(83, 81, 95);
}
.btn-hover2.color-2 {
    background-image: linear-gradient(to top, #FF0F00,#FF0F00, #FF0F00);
    box-shadow: 0 4px 3px 0 rgb(83, 81, 95);
}

.btn-hover4.color-4 {
    background-image: linear-gradient(to top, #FF0F00,#FF0F00, #FF0F00);
}

.btn-hover3.color-3 {
    font-size: 30px;
    background-image: linear-gradient(to top, #FF0F00,#FF0F00, #FF0F00);
}
/*-- nav --*/
#nav2 .navbar-default {
    background-color: #000;
    border: none;
}
.navbar {
    margin-bottom: 0;
}
.navbar-left {
    float: none !important;
}
.navbar-right {
    float: none !important;
    margin-right: 0;
}
#nav2 .navbar-default .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    text-transform: uppercase;
}
#nav2 .navbar-default .navbar-nav > li > a:hover,#nav2 .navbar-default .navbar-nav > li > a:focus,#nav2 .navbar-default .navbar-nav > .open > a,#nav2 .navbar-default .navbar-nav > .open > a:hover,#nav2 .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
}
.navbar-collapse {
    padding: 0;
}
.movies_nav {
    background: #000000;
}
#nav2 .navbar-nav > li {
    float: left;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    width:20%;
    text-align: center;
}
.w3_home_act{
  border-left: 1px dotted #fff;
}
#nav2 .navbar-nav {
    float: none;
    margin: 0;
}
#nav2 .navbar-default .navbar-nav > li > a:hover,#nav2 .navbar-default .navbar-nav > li > a:focus,#nav2 .navbar-default .navbar-nav > .open > a,#nav2 .navbar-default .navbar-nav > .open > a:hover,#nav2 .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #808080;
}

ul.nav.navbar-nav li.active {
    border-right: none;
}
ul.dropdown-menu.multi-column ul li{
    display:block;
  margin-bottom:.5em;
}
ul.dropdown-menu.multi-column ul li a{
  color:#212121;
}
ul.dropdown-menu.multi-column {
    width: 100%;
    left: 0;
    padding: 1em;
}
ul.dropdown-menu.multi-column ul li a:hover{
  color:#000000;
}
/*-- banner-bottom --*/
.banner-bottom{
  padding:1em 0;
}
.w3_agile_banner_bottom_grid{
  padding:2em 1em;
  box-shadow:0px 0px 1px #999;
}
.w3l-movie-gride-agile1 {
    margin: 0 !important;
}
.w3l-movie-gride-agile1 {
    width: 82.5% !important;
    margin: 0 auto !important;
}
/*-- //banner-bottom --*/
/*-- general --*/
.general,.Latest-tv-series,.faq{
    padding: 3em 0;
}
.w3_latest_text {
    margin-left: 3em;
}
/*-- //general --*/
/*-- Latest-tv-series --*/
.agile_tv_series_grid_left {
    padding: 0;
}
a.w3_play_icon span,a.w3_play_icon1 span,a.w3_play_icon2 span {
    position: absolute;
    color: #fff;
    font-size:4.5em;
    left: 42%;
    top: 36%;
}
.agile_tv_series_grid_right{
  background:#000000;
  min-height:312px;
  padding:3em 3em 0;
  width: 48.6%;
}
p.fexi_header{
  text-transform: uppercase;
    font-size: 1.3em;
    color: #212121;
    font-weight: bold;
    padding-bottom: 1em;
}
p.fexi_header_para{
  margin-top:.8em;
  color:#fff;
  line-height:1.5em;
  position:relative;
}
p.fexi_header_para label{
  position: absolute;
    top: 0%;
    left: 21%;
    font-style: normal;
}
p.fexi_header_para span{
  color: #212121;
    font-size: 14px;
    font-weight: bold;
    float: left;
    width:25%;
}
p.fexi_header_para a{
  color:#fff;
}
.conjuring_w3{
  height:65px;
}
p.fexi_header_para1 a i {
    color: #fff !important;
}
.agileinfo_flexislider_grids{
  padding:1em 0 0;
}
.w3_home_popular{
  margin-bottom:0.5em !important;
}
.social {
  position: fixed;
  bottom: 0%;
  width: 4%;
  z-index: 9999;
}
.social ul {
  padding: 0px;
  -webkit-transform: translate(-270px, 0);
  -moz-transform: translate(-270px, 0);
  -ms-transform: translate(-270px, 0);
  -o-transform: translate(-270px, 0);
  transform: translate(-270px, 0);
}
.social ul li {
  display: block;
  margin: 5px;
  width: 310px;
  text-align: right;
  padding: 10px;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.w3_twitter{
  background:#1da1f2;
}
.w3_facebook{
  background:#3b5998;
}
.w3_dribbble{
  background:#ea4c89;
}
.w3_g_plus{
  background:#dd4b39;
}
.w3_twitter:hover{
  background:#54BAF2;
}
.w3_facebook:hover{
  background:#6187D5;
}
.w3_dribbble:hover{
  background:#EC6D9E;
}
.w3_g_plus:hover{
  background:#EA6A5B;
}
.social ul li:hover {
  -webkit-transform: translate(110px, 0);
  -moz-transform: translate(110px, 0);
  -ms-transform: translate(110px, 0);
  -o-transform: translate(110px, 0);
  transform: translate(110px, 0);
}
.social ul li a{
  color:#212121;
}
.social ul li:hover a {
  color: #fff;
  text-decoration: none;
}
.social ul li:hover i {
  color: #fff;
  background: rgba(0, 0, 0, 0.36);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li i {
  margin-left: 10px;
    color: #212121;
    padding: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 15px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  text-align: center;
  background: #fff;
}
/*-- //Latest-tv-series --*/
/*-- footer --*/
.footer{
  background:#BA3939;
  padding:1em 0;
  text-align: center;
  color: #fff;
}
.footer-link { }
.footer-social { }
.footer-social a { color: #ffffff; }
.footer-social ul { }
.footer-social ul li { }
.footer-social ul li a i { padding-right: 10px; width: 30px; }
.footer-social ul li a:hover i { color: #ff0000; }
.w3ls_footer_grid_left1{
  position:relative;
}
.w3ls_footer_grid_left1 h2{
  font-size: 2em;
    color:#000000;
  text-transform:uppercase;
    font-style: normal;
  margin-bottom:.5em;
}
.w3ls_footer_grid_left1_pos{
  width:80%;
  border:1px solid #fff;
  padding:10px;
}
.w3ls_footer_grid_left1_pos input[type="email"]{
  outline: none;
    padding: 10px 10px;
    font-size: 14px;
    color: #999;
    width: 74.1%;
    background: #fff;
    border: none;
}
.w3ls_footer_grid_left1_pos input[type="submit"]{
  outline: none;
    width: 25%;
    background:#000000;
  font-size:14px;
  text-transform:uppercase;
  color:#fff;
    border: none;
  padding:10px 0;
}
.w3ls_footer_grid_left1_pos input[type="submit"]:hover{
    background:#fff;
  color:#212121;
}

.gallery {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-width: 33%;
-moz-column-width: 33%;
column-width: 33%; }
.gallery .pics {
-webkit-transition: all 350ms ease;
transition: all 350ms ease; }
.gallery .animation {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1); }

.section-header h3 {
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 40px;
  color: #000000;
  text-align: left;
  font-weight: bold;
  position: relative;
  right: 0px;
}
.social-links a {
  font-size: 18px;
  display: inline-block;
  background: #000000;
  color: white;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
.garisberita{
    position: absolute;
    top: 10px;
    margin-left: -15px;
    width: 6px;
    border-bottom: 85px solid #000;
  }
.garisprofil{
    position: relative;
    left: -140px;
    top: -20px;
    /* content: ""; */
    display: block;
    margin: 20px auto 15px -60px;
    width: 345px;
    border-bottom: 10px solid #BA3939;
}
.garistentang{
    position: relative;
    left: -140px;
    top: -20px;
    /* content: ""; */
    display: block;
    margin: 20px auto 15px -60px;
    width: 499px;
    border-bottom: 10px solid #BA3939;
}
.garisalamat{
    position: relative;
    left: -140px;
    top: -20px;
    /* content: ""; */
    display: block;
    margin: 20px auto 15px -60px;
    width: 357px;
    border-bottom: 10px solid #BA3939;
}
.garisdokumentasi{
    position: relative;
    left: -140px;
    top: -20px;
    /* content: ""; */
    display: block;
    margin: 20px auto 15px -60px;
    width: 490px;
    border-bottom: 10px solid #BA3939;
}
.gariskontak{
    position: relative;
    left: -149px;
    top: -20px;
    /* content: ""; */
    display: block;
    margin: 20px auto 15px -60px;
    width: 370px;
    border-bottom: 10px solid #BA3939;
}
.garisberitapilihan{
    position: relative;
    left: -149px;
    top: -20px;
    /* content: ""; */
    display: block;
    margin: 20px auto 15px -60px;
    width: 523px;
    border-bottom: 10px solid #BA3939;
}
.garisberitalainnya{
    position: relative;
    left: -149px;
    top: -20px;
    /* content: ""; */
    display: block;
    margin: 20px auto 15px -60px;
    width: 540px;
    border-bottom: 10px solid #BA3939;
}
.gariskritik{
    position: relative;
    left: -149px;
    top: -20px;
    /* content: ""; */
    display: block;
    margin: 20px auto 15px -60px;
    width: 490px;
    border-bottom: 10px solid #BA3939;
}
.hargaterbaru{
    position: relative;
    left: -149px;
    top: -20px;
    /* content: ""; */
    display: block;
    margin: 20px auto 15px -60px;
    width: 722px;
    border-bottom: 10px solid #BA3939;
}

.daftarterbaru{
    position: relative;
    left: -149px;
    top: -20px;
    /* content: ""; */
    display: block;
    margin: 20px auto 15px -60px;
    width: 570px;
    border-bottom: 10px solid #BA3939;
}

.officialvideo{
    position: relative;
    left: -149px;
    top: -20px;
    /* content: ""; */
    display: block;
    margin: 20px auto 15px -60px;
    width: 522px;
    border-bottom: 10px solid #BA3939;
}

.review{
    position: relative;
    left: -149px;
    top: -20px;
    /* content: ""; */
    display: block;
    margin: 20px auto 15px -60px;
    width: 507px;
    border-bottom: 10px solid #BA3939;
}

.detailharga{
    position: relative;
    left: -149px;
    top: -20px;
    /* content: ""; */
    display: block;
    margin: 20px auto 15px -60px;
    width: 500px;
    border-bottom: 10px solid #BA3939;
}

.w3ls_footer_grid_right,.w3ls_footer_grid1_right {
    text-align: right;
}
.w3ls_footer_grid{
  margin: 20px 0 20px 0;
  border-bottom:1px solid #999;
}
.w3ls_footer_grid1_left p{
  color:#999;
  line-height:1.8em;
}
.w3ls_footer_grid1_left p a{
  color:#fff;
  text-decoration:none;
}
.w3ls_footer_grid1_left p a:hover{
  color:#000000;
}
.w3ls_footer_grid1_right ul li{
  display:inline-block;
  margin-left: 2em;
}
.w3ls_footer_grid1_right ul li a{
  color:#fff;
  text-decoration:none;
  text-transform:uppercase;
}
.w3ls_footer_grid1_right ul li a:hover{
  color:#000000;
}
.w3ls_footer_grid_right a{
  display: block;
    text-decoration: none;
    width: 28%;
    margin-left: 24em;
}
.w3ls_footer_grid_right a h2{
  font-size: 2.8em;
    color: #fff;
    text-transform: uppercase;
    background: url(../images/1.jpg) no-repeat right transparent;
    padding-right: 1.67em;
    font-weight: 900;
    padding-bottom: .3em;
}
.w3ls_footer_grid_right a h2 span{
  color: #000000;
    font-size: .3em;
    display: block;
    font-weight: 300;
    letter-spacing: 5px;
    text-align: right;
    line-height: 0;
}
.w3ls_footer_grid_right {
    margin-top: 2em;
}
/*-- //footer --*/
/* Pen Title */
.pen-title {
  padding: 50px 0;
  text-align: center;
  letter-spacing: 2px;
}
.pen-title h1 {
  margin: 0 0 20px;
  font-size: 48px;
  font-weight: 300;
}
.pen-title span {
  font-size: 12px;
}
.pen-title span .fa {
  color: #33b5e5;
}
.pen-title span a {
  color: #33b5e5;
  font-weight: bold;
  text-decoration: none;
}

/* Form Module */
.form-module {
  position: relative;
    background: #ffffff;
    max-width: 400px;
    width: 100%;
    border-top: 5px solid #000000;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    margin:1em auto;
}
.form-module .toggle {
  cursor: pointer;
  position: absolute;
  top: -0;
  right: -0;
  background:#000000;
  width: 30px;
  height: 30px;
  margin: -5px 0 0;
  color: #ffffff;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
}
.form-module .toggle .tooltip {
  position: absolute;
    top: 5px;
    right: -75px;
    display: block;
    background: rgba(0, 0, 0, 0.6);
    width: auto;
    padding: 5px;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    opacity: 1;
    font-family: 'Ubuntu', sans-serif !important;
}
.form-module .toggle .tooltip:before {
  content: '';
  position: absolute;
  top: 5px;
  left: -5px;
  display: block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid rgba(0, 0, 0, 0.6);
}
.form-module .form {
  display: none;
  padding: 30px;
}
.form-module .form:nth-child(2) {
  display: block;
}
.form-module h3 {
    margin: 0 0 1.5em;
    color: #212121;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1;
}
.form-module input[type="text"],.form-module input[type="password"],.form-module input[type="email"] {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #d9d9d9;
  margin: 0 0 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-weight: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size:14px;
}
.form-module input[type="text"]:focus,.form-module input[type="password"]:focus,.form-module input[type="email"]:focus {
  border:1px solid #C7D0F5;
  color: #333333;
}
.form-module input[type="submit"] {
  background: #919191;
    width: 100%;
    border: 0;
    padding: 10px 15px;
    color: #ffffff;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
  outline:none;
}
.form-module input[type="submit"]:hover {
  background:#000000;
}
.form-module .cta {
  background: #343434;
    width: 100%;
    padding: 15px 40px;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
}
.form-module .cta a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}
.modal-header {
    text-align: center;
    font-size: 2em;
    color: #212121;
}
.modal-content{
  z-index:9999;
}
/*-- //login --*/
/*--Typography--*/
.well {
    font-weight: 300;
    font-size: 14px;
}
.list-group-item {
    font-weight: 300;
    font-size: 14px;
}
li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}
.typo p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}
.show-grid [class^=col-] {
    background: #fff;
  text-align: center;
  margin-bottom: 10px;
  line-height: 2em;
  border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
  background: #e0e0e0;
}
.grid_3{
  margin-bottom:2em;
}
.xs h3, h3.m_1{
  color:#000;
  font-size:1.7em;
  font-weight:300;
  margin-bottom: 1em;
}
.grid_3 p{
  color: #999;
  font-size: 0.85em;
  margin-bottom: 1em;
  font-weight: 300;
}
.grid_4{
  background:none;
  margin-top:50px;
}
.label {
  font-weight: 300 !important;
  border-radius:4px;
}  
.grid_5{
  background:none;
  padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
  margin-bottom: 1em;
    color: #212121;
    font-weight: bold;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 0;
}
.badge-primary {
  background-color: #03a9f4;
}
.badge-success {
  background-color: #8bc34a;
}
.badge-warning {
  background-color: #ffc107;
}
.badge-danger {
  background-color: #e51c23;
}
.grid_3 p{
  line-height: 2em;
  color: #888;
  font-size: 0.9em;
  margin-bottom: 1em;
  font-weight: 300;
}
.bs-docs-example {
  margin: 1em 0;
}
section#tables  p {
  margin-top: 1em;
}
.tab-container .tab-content {
  border-radius: 0 2px 2px 2px;
  border: 1px solid #e0e0e0;
  padding: 16px;
  background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  font-size: 20px;
  text-align: center;
  color: #000;
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
.alert {
  font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
  line-height:2em;
  margin-top:0.5em;
  margin-bottom: 0.5em;
}
li.list-group-item1 {
  line-height: 2.5em;
}
.input-group {
  margin-bottom: 20px;
}
.in-gp-tl{
  padding:0;
}
.in-gp-tb{
  padding-right:0;
}
.list-group {
  margin-bottom: 48px;
}
ol {
  margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:768px){
    #daftarmobil img{
    width: 52%
  }
    #beritalainnya .fix{
    margin-left: 10px;
  }
  .grid_5 {
    padding: 0 0 1em;
  }
  .grid_3 {
    margin-bottom: 0em;
  }
 
}
@media (max-width:640px){
  h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
    margin-bottom: .5em;
  }
  .progress {
    height: 10px;
    margin-bottom: 10px;
  }
  ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
    font-size: 14px;
  }
  .breadcrumb {
    margin-bottom: 25px;
  }
  .well {
    font-size: 14px;
    margin-bottom: 10px;
  }
  h2.typoh2 {
    font-size: 1.5em;
  }
  .label {
    font-size: 60%;
  }
  .in-gp-tl {
    padding: 0 1em;
  }
  .in-gp-tb {
    padding-right: 1em;
  }
}
@media (max-width:480px){
  .grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
    font-size: 1.2em;
  }
  .table h1 {
    font-size: 26px;
  }
  .table h2 {
    font-size: 23px;
  }
  .table h3 {
    font-size: 20px;
  }
  .label {
    font-size: 53%;
  }
  .alert,p {
    font-size: 14px;
  }
  .pagination {
    margin: 20px 0 0px;
  }
  .grid_3.grid_4.w3layouts {
    margin-top: 0;
  }
}

@media (max-width: 450px) {
  #beritasorotan h2{
  color: rgb(0, 0, 0);
  top: -90px;
  padding: 6px 8px 6px 8px;
  background-color: #FFF;
  border-radius: 0px;
  font-family: inherit;
  font-size: 17px;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;

}
    #headline h1{
    font-size: large;
    margin: 5px 0 5px 0;
  }
  #headline .kategoriberita{
    margin: 0 8px 0 8px;
  }
  #headline .caption-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%);width: 100%; opacity: 0.5;height: 56%;}
  #headline .rose{color:#fff!important;background-color:#000!important}
  #headline .margin{margin:0!important;}
  #headline .caption-bottomleft{position:absolute;left:0;bottom:0}
  #headline .text-white{
    font-size: 12px;
  }
  #headline img{
    height: 200px;
  }
  #headline span{
    color: #fff;
    padding: 4px 10px 4px 10px;
    background-color: #FF0000;
    border-radius: 5px;
    font-family: inherit;
    font-size: 10px;
  }
  #headline .date{
    font-size: 12px;
    padding: 4px 10px 4px 10px;
  }
    #headline .judul{
  font-size: large;
    padding: 8px;
  }
  #headline .artikel{
    font-size: small;
  }
  .garisberitapilihan{
    position: relative;
    left: -149px;
    top: -20px;
    /* content: ""; */
    display: block;
    margin: 20px auto 15px -60px;
    width: 523px;
    border-bottom: 10px solid #BA3939;
  }
  .garisberitalainnya{
    position: relative;
    left: -149px;
    top: -20px;
    /* content: ""; */
    display: block;
    margin: 20px auto 15px -60px;
    width: 540px;
    border-bottom: 10px solid #BA3939;
  }
  .judulberita {
    font-size: 15px;
    margin-top: 10px;
  }
  #dokumentasi .margin30 {
    margin-bottom: 30px;
  }

  #dokumentasi .item-img-wrap {
      position: relative;
      text-align: center;
      overflow: hidden;
  }

  #dokumentasi .item-img-wrap img {
      -moz-transition: all 200ms linear;
      -o-transition: all 200ms linear;
      -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
      width: 100%;
  }

  /************************image hover effect*******************/
  #dokumentasi .item-img-wrap {
    position: relative;
    text-align: center;
    overflow: hidden;
  }

  #dokumentasi .item-img-wrap img {
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    width: 100%;
  }

  #dokumentasi .item-img-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  #dokumentasi .item-img-overlay span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(http://bootstraplovers.com/templates/assan-2.2/main-template/img/plus.png) no-repeat center center rgba(0, 0, 0, 0.7);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -moz-transition: opacity 250ms linear;
    -o-transition: opacity 250ms linear;
    -webkit-transition: opacity 250ms linear;
    transition: opacity 250ms linear;
  }

  #dokumentasi .item-img-wrap:hover .item-img-overlay span {
    opacity: 1;
  }

  #dokumentasi .item-img-wrap:hover img {
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }


  /*************pagination***********/

  #dokumentasi .pagination {
      display: inline-block;
      padding-left: 0;
      margin: 20px 0px;
      border-radius: 4px;
    }

  #dokumentasi .pagination > li > a, .pagination > li > span {
  /*  background-color: #ccc;*/
    padding: 3px 9px;
    color: #000;
    border: 0px;
  }

  #dokumentasi .pagination > li > a {
    margin-right: 5px;
  }

  #dokumentasi .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #ff0000;
  }
  .gariskontak{
      position: relative;
      left: -149px;
      top: -20px;
      /* content: ""; */
      display: block;
      margin: 20px auto 15px -60px;
      width: 310px;
      border-bottom: 10px solid #BA3939;
  }
  .gariskritik{
      position: relative;
      left: -149px;
      top: -20px;
      /* content: ""; */
      display: block;
      margin: 20px auto 15px -60px;
      width: 390px;
      border-bottom: 10px solid #BA3939;
  }
  .garistentang{
    position: relative;
    left: -140px;
    top: -20px;
    /* content: ""; */
    display: block;
    margin: 20px auto 15px -60px;
    width: 389px;
    border-bottom: 10px solid #BA3939;
  }

  .jumbotron {
  height: 750px;
  padding: 2rem 1rem;
  margin-bottom: 2rem; 
  background: linear-gradient(to right, #000, #242134,#C0C0C0);
  color:#fff;
  font-family: sans-serif;
  }

  .garisdokumentasi{
    position: relative;
    left: -140px;
    top: -20px;
    /* content: ""; */
    display: block;
    margin: 20px auto 15px -60px;
    width: 386px;
    border-bottom: 10px solid #BA3939;
  }

  .garisalamat{
    position: relative;
    left: -140px;
    top: -20px;
    /* content: ""; */
    display: block;
    margin: 20px auto 15px -60px;
    width: 300px;
    border-bottom: 10px solid #BA3939;
  }

  .review{
    position: relative;
    left: -149px;
    top: -20px;
    /* content: ""; */
    display: block;
    margin: 20px auto 15px -60px;
    width: 380px;
    border-bottom: 10px solid #BA3939;
  }
  .daftarterbaru{
      position: relative;
      left: -149px;
      top: -20px;
      /* content: ""; */
      display: block;
      margin: 20px auto 15px -60px;
      width: 420px;
      border-bottom: 10px solid #BA3939;
  }
  .officialvideo{
    position: relative;
    left: -149px;
    top: -20px;
    /* content: ""; */
    display: block;
    margin: 20px auto 15px -60px;
    width: 390px;
    border-bottom: 10px solid #BA3939;
  }
  .detailharga{
    position: relative;
    left: -149px;
    top: -20px;
    /* content: ""; */
    display: block;
    margin: 20px auto 15px -60px;
    width: 385px;
    border-bottom: 10px solid #BA3939;
  }
  .section-header h3 {
  padding-top: 25px;
  font-family: sans-serif;
  font-size: 25px;
  color: #000000;
  text-align: left;
  font-weight: bold;
  position: relative;
  right: 0px;
  }
  .buttons3 {
      margin-top: 20px;
      text-align: center;
      border-radius: 3rem;
  }
  .btn-hover3.color-3>span{
    color: #000;
  }

  .btn-hover3 {
      width: 300px;
      font-size: 14px;
      font-weight: bold;
      color: #fff;
      border-radius: 3rem;
      cursor: pointer;
      height: 60px;
      text-align:center;
      border: none;
      background-size: 300% 100%;
      margin-bottom: 20px;

      moz-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
  }
  .btn-hover3:hover {
      background-position: 100% 0;
      moz-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
  }
  .btn-hover3:focus {
      outline: none;
  }
  .btn-hover3.color-3 {
      font-size: 30px;
      background-image: linear-gradient(to top, #FF0F00,#FF0F00, #FF0F00);
  }

  .hargaterbaru{
    position: relative;
    left: -149px;
    top: -20px;
    /* content: ""; */
    display: block;
    margin: 20px auto 15px -60px;
    width: 505px;
    border-bottom: 10px solid #BA3939;
}
  .gallery {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  -webkit-column-width: 100%;
  -moz-column-width: 100%;
  column-width: 100%;
  }
}

@media (max-width: 400px) {
  .btn.filter {
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  }
}

@media (max-width: 320px){
  .grid_4 {
    margin-top: 18px;
  }
  h3.title {
    font-size: 1.6em;
  }
  .alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
    font-size: 13px;
  }
  .alert {
    padding: 10px;
    margin-bottom: 10px;
  }
  ul.pagination li a {
    font-size: 14px;
    padding: 5px 11px;
  }
  .list-group {
    margin-bottom: 10px;
  }
  .well {
    padding: 10px;
  }
  .nav > li > a {
    font-size: 14px;
  }
  table.table.table-striped,.table-bordered,.bs-docs-example {
    display: none;
  }
}
/*-- icons --*/
.codes a {
    color: #999;
}
.icon-box {
    padding: 8px 15px;
    background:rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
} 
.icon-box:hover {
    background: #000;
  transition:0.5s all;
  -webkit-transition:0.5s all;
  -o-transition:0.5s all;
  -ms-transition:0.5s all;
  -moz-transition:0.5s all;
}
.icon-box:hover i.fa {
  color:#fff !important;
}
.icon-box:hover a.agile-icon {
  color:#fff !important;
}
.codes .bs-glyphicons li {
    float: left;
    width: 12.5%;
    height: 115px;
    padding: 10px; 
    line-height: 1.4;
    text-align: center;  
    font-size: 12px;
    list-style-type: none;  
}
.codes .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.codes .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  color: #777;
} 
.codes .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
h3.icon-subheading {
  font-size: 28px;
    color: #000000 !important;
    margin: 30px 0 15px;
}
h3.agileits-icons-title {
    text-align: center;
    font-size: 36px;
    color: #000;
}
.icons a {
    color: #999;
}
.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}
.icons .bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background:rgba(149, 149, 149, 0.18);
    margin: 1%;
}
.icons .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
  color: #282a2b;
}
.icons .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  color: #777;
} 
.icons .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
/*-- //icons --*/
h3.head {
    text-align: center;
    font-size: 2.5em;
    color: #000000;
}
/*-- to-top --*/
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  right: 2%;
  overflow: hidden;
  z-index: 999; 
  width: 32px;
  height: 32px;
  border: none;
  text-indent: 100%;
  background: url(../img/arrow1.png) no-repeat 0px 0px;
}
#toTopHover {
  width: 32px;
  height: 32px;
  display: block;
  overflow: hidden;
  float: right;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-----start-responsive-design------*/
@media (max-width:1280px){
  h4.latest-text {
    margin-left: 1em !important;
  }
}
@media (max-width:1080px){
  .w3l_sign_in_register {
    width: 30%;
  }
  .w3_search {
    margin-left: 4em;
  }
  .w3l-movie-gride-agile1 {
    width: 100% !important;
  }
  .w3l-action-icon i {
    font-size: 2em !important;
  }
  .w3l-movie-gride-agile:hover .w3l-action-icon {
    top: 42%;
  }
  .w3l-movie-text h6 a {
    font-size: 1.31em !important;
  }
  .agile_tv_series_grid_right {
    min-height: 258px;
    padding: 2em 2em 0;
    width: 48.6%;
  }
  p.fexi_header {
    padding-bottom: .5em;
  }
  .w3ls_footer_grid_right a {
    width: 35%;
    margin-left: 17em;
  }
  .w3ls_footer_grid_left1_pos {
    width: 100%;
  }
  .w3ls_footer_grid1_right {
    padding: 0;
  }
  .w3ls_footer_grid1_right ul li {
    margin-left: 1em;
  }
  .w3l-movie-gride-agile:hover .w3l-action-icon {
    top: 42% !important;
  }
}
@media (max-width:991px){
    .header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
    line-height: 40px; }
  .w3l_sign_in_register ul li:first-child {
    padding: 0;
  }
  .w3l_sign_in_register {
    width: 33%;
  }
  .w3l_sign_in_register ul li {
    font-size: 14px;
  }
  .w3_search {
    margin-left: 1.5em;
  }
  .navbar-nav > li {
    font-size: 12px;
  }
  .agile_mid_2_home {
    width: 80%;
    margin: 0 auto;
  }
  .w3l-movie-gride-agile {
    float: left;
    width: 25%;
  }
  .ribben {
    left: 13% !important;
  }
  .general, .Latest-tv-series, .faq {
    padding: 2em 0;
  }
  a.w3_play_icon span, a.w3_play_icon1 span, a.w3_play_icon2 span {
    left: 49%;
    top: 42%;
  }
  .agile_tv_series_grid_right {
    min-height: inherit;
    padding: 3em;
    width: 100%;
  }
  .footer {
    padding: 3em 0;
  }
  .w3ls_footer_grid_left {
    width: 70%;
  }
  .w3ls_footer_grid_right {
    float: right;
    margin-top: 3.2em;
  }
  .w3ls_footer_grid_right a {
    width: 100%;
    margin-left: 0em;
  }
  .w3ls_footer_grid1_left p,.w3ls_footer_grid1_right {
    text-align: center;
  }
  .w3ls_footer_grid1_left {
    padding-bottom: .5em;
  }
  .w3ls_footer_grid {
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
  }
}
@media (min-width: 992px) {
  .header_area.navbar_fixed .main_menu {
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    background: #ffffff;
    -webkit-transform: translateY(70px);
    -moz-transform: translateY(70px);
    -ms-transform: translateY(70px);
    -o-transform: translateY(70px);
    transform: translateY(70px);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1); }
    .header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
      line-height: 70px; }
  #intro .intro-info {
    padding-top: 80px;
  }
}
@media (max-width:800px){
  ul.dropdown-menu.multi-column {
    width: 300px;
  }
  h4.latest-text {
    font-size: 1.7em !important;
  }
}
@media (max-width:768px){
  #beritasorotan h2{
  color: rgb(0, 0, 0);
  top: -90px;
  padding: 6px 8px 6px 8px;
  background-color: #FFF;
  border-radius: 0px;
  font-family: inherit;
  font-size: 17px;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;

}
    #headline h1{
    font-size: large;
    margin: 5px 0 5px 0;
  }
  #headline .caption-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%);width: 100%; opacity: 0.5;height: 56%;}
  #headline .rose{color:#fff!important;background-color:#000!important}
  #headline .margin{margin:0!important;}
  #headline .caption-bottomleft{position:absolute;left:0;bottom:0}
  #headline .text-white{
    font-size: 12px;
  }
  #headline img{
    height: 200px;
  }
  #headline span{
    color: #fff;
    padding: 4px 10px 4px 10px;
    background-color: #FF0000;
    border-radius: 5px;
    font-family: inherit;
    font-size: 10px;
  }
  #headline .date{
    font-size: 12px;
    padding: 4px 10px 4px 10px;
  }
    #headline .judul{
  font-size: large;
    padding: 8px;
  }
  #headline .artikel{
    font-size: small;
  }
  .garisberitapilihan{
    position: relative;
    left: -149px;
    top: -20px;
    /* content: ""; */
    display: block;
    margin: 20px auto 15px -60px;
    width: 523px;
    border-bottom: 10px solid #BA3939;
  }
  .garisberitalainnya{
    position: relative;
    left: -149px;
    top: -20px;
    /* content: ""; */
    display: block;
    margin: 20px auto 15px -60px;
    width: 540px;
    border-bottom: 10px solid #BA3939;
  }
  .judulberita {
    font-size: 15px;
    margin-top: 10px;
  }
  #dokumentasi .margin30 {
    margin-bottom: 30px;
  }

  #dokumentasi .item-img-wrap {
      position: relative;
      text-align: center;
      overflow: hidden;
  }

  #dokumentasi .item-img-wrap img {
      -moz-transition: all 200ms linear;
      -o-transition: all 200ms linear;
      -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
      width: 100%;
  }

  /************************image hover effect*******************/
  #dokumentasi .item-img-wrap {
    position: relative;
    text-align: center;
    overflow: hidden;
  }

  #dokumentasi .item-img-wrap img {
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    width: 100%;
  }

  #dokumentasi .item-img-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  #dokumentasi .item-img-overlay span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(http://bootstraplovers.com/templates/assan-2.2/main-template/img/plus.png) no-repeat center center rgba(0, 0, 0, 0.7);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -moz-transition: opacity 250ms linear;
    -o-transition: opacity 250ms linear;
    -webkit-transition: opacity 250ms linear;
    transition: opacity 250ms linear;
  }

  #dokumentasi .item-img-wrap:hover .item-img-overlay span {
    opacity: 1;
  }

  #dokumentasi .item-img-wrap:hover img {
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }


  /*************pagination***********/

  #dokumentasi .pagination {
      display: inline-block;
      padding-left: 0;
      margin: 20px 0px;
      border-radius: 4px;
    }

  #dokumentasi .pagination > li > a, .pagination > li > span {
  /*  background-color: #ccc;*/
    padding: 3px 9px;
    color: #000;
    border: 0px;
  }

  #dokumentasi .pagination > li > a {
    margin-right: 5px;
  }

  #dokumentasi .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #ff0000;
  }
  .gariskontak{
      position: relative;
      left: -149px;
      top: -20px;
      /* content: ""; */
      display: block;
      margin: 20px auto 15px -60px;
      width: 310px;
      border-bottom: 10px solid #BA3939;
  }
  .gariskritik{
      position: relative;
      left: -149px;
      top: -20px;
      /* content: ""; */
      display: block;
      margin: 20px auto 15px -60px;
      width: 390px;
      border-bottom: 10px solid #BA3939;
  }
  .garistentang{
    position: relative;
    left: -140px;
    top: -20px;
    /* content: ""; */
    display: block;
    margin: 20px auto 15px -60px;
    width: 389px;
    border-bottom: 10px solid #BA3939;
  }

  .jumbotron {
  height: 750px;
  padding: 2rem 1rem;
  margin-bottom: 2rem; 
  background: linear-gradient(to right, #000, #242134,#C0C0C0);
  color:#fff;
  font-family: sans-serif;
  }

  .garisdokumentasi{
    position: relative;
    left: -140px;
    top: -20px;
    /* content: ""; */
    display: block;
    margin: 20px auto 15px -60px;
    width: 386px;
    border-bottom: 10px solid #BA3939;
  }

  .garisalamat{
    position: relative;
    left: -140px;
    top: -20px;
    /* content: ""; */
    display: block;
    margin: 20px auto 15px -60px;
    width: 300px;
    border-bottom: 10px solid #BA3939;
  }

  .review{
    position: relative;
    left: -149px;
    top: -20px;
    /* content: ""; */
    display: block;
    margin: 20px auto 15px -60px;
    width: 380px;
    border-bottom: 10px solid #BA3939;
  }
  .daftarterbaru{
      position: relative;
      left: -149px;
      top: -20px;
      /* content: ""; */
      display: block;
      margin: 20px auto 15px -60px;
      width: 420px;
      border-bottom: 10px solid #BA3939;
  }
  .officialvideo{
    position: relative;
    left: -149px;
    top: -20px;
    /* content: ""; */
    display: block;
    margin: 20px auto 15px -60px;
    width: 390px;
    border-bottom: 10px solid #BA3939;
  }
  .detailharga{
    position: relative;
    left: -149px;
    top: -20px;
    /* content: ""; */
    display: block;
    margin: 20px auto 15px -60px;
    width: 385px;
    border-bottom: 10px solid #BA3939;
  }
  .section-header h3 {
  padding-top: 25px;
  font-family: sans-serif;
  font-size: 25px;
  color: #000000;
  text-align: left;
  font-weight: bold;
  position: relative;
  right: 0px;
  }
  .buttons3 {
      margin-top: 20px;
      text-align: center;
      border-radius: 3rem;
  }
  .btn-hover3.color-3>span{
    color: #000;
  }

  .btn-hover3 {
      width: 300px;
      font-size: 14px;
      font-weight: bold;
      color: #fff;
      border-radius: 3rem;
      cursor: pointer;
      height: 60px;
      text-align:center;
      border: none;
      background-size: 300% 100%;
      margin-bottom: 20px;

      moz-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
  }
  .btn-hover3:hover {
      background-position: 100% 0;
      moz-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
  }
  .btn-hover3:focus {
      outline: none;
  }
  .btn-hover3.color-3 {
      font-size: 30px;
      background-image: linear-gradient(to top, #FF0F00,#FF0F00, #FF0F00);
  }

  .hargaterbaru{
    position: relative;
    left: -149px;
    top: -20px;
    /* content: ""; */
    display: block;
    margin: 20px auto 15px -60px;
    width: 505px;
    border-bottom: 10px solid #BA3939;
}
  .gallery {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  -webkit-column-width: 100%;
  -moz-column-width: 100%;
  column-width: 100%;
  }
  .w3ls_footer_grid_left1 h2 {
    font-size: 1.7em;
  }
  h3.head {
    font-size: 2.2em;
  }
  /*-- icons --*/
  h3.agileits-icons-title {
    font-size: 28px;
  }
  h3.icon-subheading {
    font-size: 25px;
  }
  .icon-box {
    margin: 0;
  }
  /*-- //icons --*/


    /* show 3 items */
}
@media (max-width:767px){
  .garisberita {
    position: absolute;
    top: 0px;
    margin-left: -15px;
    width: 6px;
    border-bottom: 85px solid #000;
  }
    #intro {
    height: auto;
    padding: 80px 0 60px 0;
  }

  #intro .container {
    height: auto !important;
  }

  #intro .intro-img {
    width: 100%;
  }

  #intro .intro-info {
    text-align: center;
    padding-top: 40px;
  }

  #intro .intro-info h2 {
    font-size: 34px;
    margin-bottom: 30px;
  }
  #nav2 .navbar-toggle {
    float: none;
    margin: .5em 0 0;
  }
  #nav2 .navbar {
    text-align: center;
  }
  #nav2 .navbar-default .navbar-toggle {
    border-color: #fff;
  }
  #nav2 .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  #nav2 .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
  }
  #nav2 .navbar-nav > li {
    float: none;
    border-right:none;
    width: 100%;
  }
  #nav2 .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
  }
  #nav2 .navbar-nav {
    background: #7a7977;
  }
  #nav2 .navbar-nav .open .dropdown-menu {
    background-color: #fff;
  }
  ul.dropdown-menu.multi-column {
    text-align: center;
    float: none;
    width: 100%;
  }
}
@media (max-width: 736px){
  .w3l_sign_in_register {
    width: 100%;
    float: none;
    margin: 4em 0 0;
    text-align: center;
  }
  .w3_search {
    margin-left: 0;
    float: right;
    width: 50%;
  }
}
@media (max-width: 667px){
  .agile_mid_2_home {
    width: 90%;
  }
  .w3l-movie-text h6 a {
    font-size: 1.3em !important;
  }
  a.w3_play_icon span, a.w3_play_icon1 span, a.w3_play_icon2 span {
    left: 47%;
  }
  .w3ls_footer_grid_left1_pos input[type="email"] {
    width: 74%;
  }
  .w3ls_footer_grid_right {
    margin-top: 2.5em;
  }
}
@media (max-width: 640px){
  .w3_agileits_icons_page {
    margin-top: 25px !important;
  }
  .w3l_sign_in_register ul li:first-child {
    padding-right: 1em;
  }
  .w3ls_footer_grid_left1_pos input[type="email"] {
    width: 73.9%;
  }
  .w3ls_footer_grid_right {
    padding: 0;
  }
  /*-- icons --*/
  .icon-box {
    float: left;
    width: 50%;
  }
  /*-- //icons --*/
  .ribben {
    left: 4% !important;
  }
}
@media (max-width: 600px){
  .Latest-tv-series {
    padding-bottom: 0.5em !important;
  }
  .ribben p {
    font-size: 0.7em !important;
  }
  .ribben {
    padding: 18px 0 0 0 !important;
    width: 35px !important;
    height: 35px !important;
  }
  .w3l-movie-gride-agile {
    width: 33.33%;
  }
}
@media (max-width: 568px){
  .form-module .toggle .tooltip {
    right: -63px;
    font-size: 10px;
  }
  .Latest-tv-series {
    padding-top: 0 !important;
  }
  .w3ls_footer_grid_left {
    padding-left: 0;
  }
  .w3ls_footer_grid_left1_pos input[type="email"] {
    width: 73%;
  }
}
@media (max-width: 480px){
  .w3layouts_logo a h1 {
    font-size: 2.5em;
    background: url(../images/1.jpg) no-repeat 71px 6px;
    background-size: 40%;
    padding-right: 1.4em;
    padding-bottom: 0.2em;
  }
  .w3_search {
    width: 60%;
  }
  .form-module .toggle .tooltip {
    display: none !important;
  }
  .ribben {
    left: 8% !important;
  }
  .nav-tabs > li > a {
    font-size: 14px !important;
    padding: 7px 16px !important;
  }
  a.w3_play_icon span, a.w3_play_icon1 span, a.w3_play_icon2 span {
    font-size: 3em;
  }
  .agile_tv_series_grid_right {
    padding: 2em;
  }
  .conjuring_w3 {
    height: 72px;
  }
  .w3ls_footer_grid_left1 h2 {
    font-size: 1.5em;
  }
  .footer {
    padding: 2em 0;
  }
  .w3ls_footer_grid_left {
    padding: 0;
    float: none;
    width: 100%;
  }
  .w3ls_footer_grid_right {
    margin: 1.5em auto 0;
    float: none;
    width: 38%;
    text-align: center;
  }
  .w3_agileits_icons_page {
    margin: 1.5em 0 0 !important;
  }
  /*-- icons --*/
  .icons .bs-glyphicons li {
    width: 31%;
  }
  /*-- //icons --*/
}
@media (max-width: 414px){
  .ribben {
    left: 24% !important;
  }
  .agile_mid_2_home {
    width: 63%;
  }
  .social {
    bottom: 5%;
  }
  .w3l-movie-gride-agile {
    width: 50%;
  }
  .nav-tabs > li > a {
    padding: 7px 12px !important;
  }
  h4.latest-text {
    font-size: 1.4em !important;
  }
  h3.head {
    font-size: 2em;
  }
  /*-- icons --*/
  h3.agileits-icons-title {
    font-size: 23px;
  }
  h3.icon-subheading {
    font-size: 18px;
  }
  .icons .bs-glyphicons li {
    width: 31.33%;
  }
  /*-- //icons --*/
  .w3ls_footer_grid_right {
    width: 41%;
  }
}
@media (max-width: 384px){
  .w3ls_footer_grid_right {
    width: 46%;
  }
  .w3layouts_logo {
    float: none;
    width: 40%;
    margin: 0 auto;
  }
  .w3layouts_logo a h1 {
    background: url(../images/1.jpg) no-repeat 75px 5px;
    background-size: 46%;
  }
  .w3_search {
    width: 100%;
    float: none;
    margin: 1em 0;
  }
  .w3l_sign_in_register {
    margin: 0;
  }
  .modal-header {
    font-size: 1.8em;
  }
  .social ul li i {
    padding: 7px;
    width: 25px;
    height: 25px;
    font-size: 12px;
  }
  .social ul li {
    width: 300px;
    padding: 5px;
  }
  .nav-tabs > li > a {
    padding: 7px 9px !important;
  }
  .w3l-movie-gride-agile {
    width: 90%;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  .w3l-movie-gride-agile:nth-child(6), .w3l-movie-gride-agile:nth-child(12) {
    margin-left: auto !important;
  }
  .conjuring_w3 {
    height: 145px;
  }
  p.fexi_header_para span {
    width: 38%;
  }
  /*-- icons --*/
  .icon-box {
    float: none;
    width: 100%;
  }
  /*-- //icons --*/
}
@media (max-width: 375px){
  .nav-tabs > li > a {
    font-size: 13px !important;
  }
  .conjuring_w3 {
    height: 130px;
  }
}
@media (max-width: 320px){
  .w3layouts_logo a h1 {
    background: url(../images/1.jpg) no-repeat 61px 5px;
    background-size: 46%;
    font-size: 2em;
  }
  .modal-header {
    font-size: 1.5em;
  }
  .form-module h3{
    margin: 0 0 1em;
    font-size: 1.1em;
  }
  .form-module .form {
    padding: 15px;
  }
  .form-module input[type="text"], .form-module input[type="password"], .form-module input[type="email"] {
    font-size: 13px;
  }
  .form-module .cta {
    width: 100%;
    padding: 10px 0px;
  }
  .form-module input[type="submit"] {
    font-size: 14px;
  }
  .modal-body {
    padding: 6px 15px;
  }
  .form-module {
    margin: .5em auto;
  }
  .agile_mid_2_home {
    width: 78%;
  }
  .nav-tabs > li {
    float: none !important;
  }
  h4.latest-text {
    font-size: 1.2em !important;
  }
  a.w3_play_icon span, a.w3_play_icon1 span, a.w3_play_icon2 span {
    font-size: 2em;
  }
  p.fexi_header {
    font-size: 1em;
  }
  .agile_tv_series_grid_right {
    padding: 2em 1em;
  }
  p.fexi_header_para {
    font-size: 13px;
  }
  .conjuring_w3 {
    height: 110px;
  }
  .w3ls_footer_grid_right {
    width: 55%;
  }
  p,.w3ls_footer_grid1_right ul li,.panel-body{
    font-size: 13px;
  }
  .w3ls_footer_grid_left1 h2 {
    font-size: 1.3em;
  }
  h3.head {
    font-size: 1.8em;
  }
}

/*whatshap*/
.float{
  position:fixed;
  width:40px;
  height:40px;
  bottom:20px;
  left:20px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
  margin-top:0;
}